body {
    background-color: black;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    }

    h1{
    font-family: 'Hahmlet', cursive;
    color: white;
    font-size: 3.6rem;
    }

    .container {
    width: 330px;
    background-color: #00203FFF;
    display: flex;
    flex-flow: column;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin-top: -30px;
    }

    .container > * {
    margin: 5px;
    border-radius: 10px;
    }

    #screen {
    width: auto;
    background-color: #ADEFD1FF;
    text-align: right;
    padding: 12px;
    font-size: 32px;
    height: 50px;
    }

    button {
    background-color: #FAEBEFFF;
    padding: 12px;
    margin: 5px;
    border-radius:10%;
    font-size: 32px;
    border-color: black;
    }

    button:hover {
    background-color:  #74d4c0;
    cursor: pointer;
    color: white;
    }

    button:focus{
    outline:none;
    }    

    .row {
    display: flex;
    flex-direction: row;
    }

     .row > * {
    flex-grow: 1;
    }